<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Crop Recommendation</title>
</head>
<body style="background-image:url(../static/farm.jpg); background-size:cover;">
    <h1 class="text-center m-3 badge-danger text-wrap">Crop Recommendation</h1>
    <h3 class="text-center"><a href="https://thingspeak.com/channels/1702209" style="color: red;">click here</a> to see the IOT sensors data.</h3>
    <div class="container mt-3">
        <form action="/" method="post" style="display: flex; flex-direction: column; align-items: center;" >
            <div style="font-weight: bold;">
                <div style="display:flex;">
                    <div class="mr-2">
                    <label for="formGroupExampleInput1">Nitrogen</label> <br>
                    <input type="text" class="formGroupExampleInput3" id="formGroupExampleInput1" name="N" placeholder="Nitrogen" required>
                    </div>
                    <div>
                    <label for="formGroupExampleInput2">Phosphorus</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput2" name="P"  placeholder="Phosphorus" required>
                    </div>
                </div>
                <div style="display:flex;">
                    <div class="mr-2">
                    <label for="formGroupExampleInput3">Potassium</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput3" name="K"  placeholder="Potassium" required>
                    </div>
                    <div>
                    <label for="formGroupExampleInput4">Soil ph</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput4" name="PH"  placeholder="ph" required>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="mr-2">
                    <label for="formGroupExampleInput5">Electrical Conductivity</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput5" name="EC" placeholder="EC" required>
                    </div>
                    <div>
                    <label for="formGroupExampleInput6">Sulphur</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput6" name="S" placeholder="Sulphur" required>
                    </div>
                </div>
                <div style="display:flex;">
                    <div class="mr-2">
                    <label for="formGroupExampleInput7">Copper</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput7" name="Cu"  placeholder="Copper" required>
                    </div>
                    <div>
                    <label for="formGroupExampleInput8">Iron</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput8" name="Fe"  placeholder="Iron" required>
                    </div>
                </div>
                <div style="display:flex;">
                    <div class="mr-2">
                    <label for="formGroupExampleInput8">Manganese</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput8" name="Mn"  placeholder="Manganese" required>
                    </div>
                    <div>
                    <label for="formGroupExampleInput8">Zinc</label><br>
                    <input type="text" class="form-group" id="formGroupExampleInput8" name="Zn"  placeholder="Zinc" required>
                    </div>
                </div>
                <div style="display: flex; justify-content: center;" class="mr-2" >
                    <label for="formGroupExampleInput8">Boron</label>&nbsp;
                    <input type="text" class="form-group" id="formGroupExampleInput8" name="B"  placeholder="Boron" required>
                </div>
            </div>

            <button type="submit" class="btn btn-danger">Submit</button>

        </form>
    </div>

</body>
</html>